@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;400;500;600&display=swap");
.bg-primario {
  background-color: #37003A;
}

.navbar-brand {
  padding: 11px 20px;
}

.activeNav {
  background-color: #FF57A8;
}

.navbar-nav {
  width: 100%;
}

.nav-link, .nav-link-teams {
  color: #fff !important;
}

.nav-item, .nav-item-teams {
  padding: 6px 12px;
  text-align: center;
}

.nav-item:hover, .nav-item-teams:hover {
  background-color: #FF57A8;
}

.color-primario {
  color: #37003A;
}

.color-secundario {
  color: #FF57A8;
}

footer {
  margin-top: auto;
  padding: 3em 0;
}

.ftco-section {
  padding: 12em 0;
}

.ftco-section h2 {
  margin-bottom: 0;
}

.footer {
  background: #37003A;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer p {
  color: rgba(255, 255, 255, 0.3);
}

.footer .footer-heading {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 30px;
}

.footer .footer-heading .logo {
  color: #fff;
}

.footer .menu {
  margin-bottom: 30px;
}

.footer .menu a {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer .ftco-footer-social li {
  display: inline;
  margin-left: 1%;
  margin-right: 1%;
}

.footer .ftco-footer-social li a {
  background: transparent;
}

.btnRight {
  font-size: 1.5rem;
  text-align: right;
}

.menuBtn, .tabsInfo {
  width: 100%;
  position: relative;
  z-index: 1;
}

.blanco {
  color: white;
}

.teamCard {
  color: #fff;
  margin-bottom: 10%;
}

.teamCard img {
  width: 60%;
}

.nav-link-teams {
  text-decoration: none;
}

.card-title-equipos {
  margin-top: 1em;
  font-size: 1rem;
}

.card-title-info {
  font-size: 5vmin;
}

.list-group-premier, .list-group-serieA, .list-group-liga, .list-group-bundes {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-group-premier a, .list-group-serieA a, .list-group-liga a, .list-group-bundes a {
  text-decoration: none;
}

#listaLigas {
  margin-top: 72px;
  margin-bottom: 5%;
}

#MiCarousel {
  background-color: #37003a7c;
  color: #fff;
  -webkit-box-shadow: 0px 1px 30px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 30px 3px rgba(0, 0, 0, 0.5);
  height: 75vh;
}

.carousel-img {
  background-color: #000;
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.perfil {
  border-radius: 50%;
}

.div-r {
  padding: 5%;
}

.div-l {
  position: relative;
  height: 35vh;
}

.div-l-contacto {
  position: relative;
  height: 50vh;
}

.carousel-title {
  text-align: end;
  font-size: 3rem;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
}

@media screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

.carousel-pagination {
  background-color: #fff !important;
  width: 20px !important;
  height: 20px !important;
  border-radius: 100%;
  position: relative;
  bottom: -60px;
  opacity: 0.5;
}

.carousel-pagination.active {
  opacity: 1;
}

.carousel-controls {
  display: none;
}

.carousel-inner {
  height: 100%;
}

.btn-pink {
  background-color: #FF57A8;
  color: #fff;
}

.btn-pink:hover {
  background-color: #da3484;
  color: #fff;
}

.containerProfile {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ECEFF1;
  width: 500px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
}

.menu-icon {
  position: absolute;
  right: 0;
  width: 53px;
  height: 53px;
  -webkit-filter: invert(40%) sepia(57%) saturate(2228%) hue-rotate(189deg) brightness(96%) contrast(87%);
          filter: invert(40%) sepia(57%) saturate(2228%) hue-rotate(189deg) brightness(96%) contrast(87%);
}

.svg-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1E88E5;
  -webkit-clip-path: polygon(0 0, 14% 0, 48% 100%, 0% 100%);
  clip-path: polygon(0 0, 14% 0, 48% 100%, 0% 100%);
}

.svg-background2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.12);
  z-index: -9;
  -webkit-clip-path: polygon(0 0, 14% 0, 48% 100%, 0% 100%);
  clip-path: polygon(0 0, 14% 0, 48% 100%, 0% 100%);
}

.profile-img {
  position: absolute;
  width: 150px;
  height: 150px;
  margin-top: 55px;
  margin-left: 40px;
  border-radius: 50%;
}

.circle {
  position: absolute;
  width: 162px;
  height: 161px;
  left: 0;
  top: 0;
  background-color: #ECEFF1;
  border-radius: 50%;
  margin-top: 50.5px;
  margin-left: 35px;
}

.text-container {
  position: absolute;
  right: 0;
  margin-right: 40px;
  margin-top: 45px;
  max-width: 230px;
  text-align: center;
}

.title-text {
  color: #263238;
  font-size: 28px;
  font-weight: 600;
  margin-top: 5px;
}

.info-text {
  margin-top: 10px;
  font-siize: 18px;
}

.desc-text {
  font-size: 14px;
  margin-top: 10px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  position: relative;
  min-height: 100vh;
  background-image: url("/assets/fondo.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.navbarLogo {
  -webkit-filter: invert(99%) sepia(1%) saturate(1801%) hue-rotate(240deg) brightness(112%) contrast(100%);
          filter: invert(99%) sepia(1%) saturate(1801%) hue-rotate(240deg) brightness(112%) contrast(100%);
  height: auto;
  width: auto;
  max-height: 50px;
  max-width: 250px;
}

a {
  text-decoration: none;
}

.contain {
  min-width: 500px;
  max-width: 80vw;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
  padding: 1em;
  padding-bottom: 150px;
  padding-top: 50px;
  z-index: 10;
}

h3,
ul {
  margin: 0;
}

input:focus,
textarea:focus {
  outline: 3px solid #FF57A8;
}

input,
select {
  width: 100%;
  border: 1px solid #000;
  background-color: rgba(255, 255, 255, 0.6);
}

ul {
  list-style: none;
  padding: 0;
}

.bannerLateral, .about {
  background-color: #37003A;
  color: #fff;
}

.fondoForm {
  color: #fff;
}

.botones {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

form label {
  display: block;
}

.modal-backdrop {
  z-index: -1;
}

.modal {
  margin-top: 72px;
}

form p {
  margin: 0;
}

button,
input,
select {
  padding: 1em;
}

button {
  background: lightgrey;
  border: 0;
}

button:hover, button:focus {
  background: #FF57A8;
  color: #fff;
  outline: 0;
}

.menuBtn:hover, .tabsInfo:hover {
  background: none;
}

.titulo, .tituloTeams {
  font-size: 3.5rem;
  line-height: 1.21;
  -webkit-transition: .2s;
  transition: .2s;
  font-weight: 600;
  padding: 2rem;
}

.tituloTeams {
  text-align: right;
}

.logoSide {
  display: block;
  -webkit-filter: invert(56%) sepia(57%) saturate(5110%) hue-rotate(308deg) brightness(113%) contrast(101%);
          filter: invert(56%) sepia(57%) saturate(5110%) hue-rotate(308deg) brightness(113%) contrast(101%);
  max-height: 80%;
  max-width: 80%;
  margin: auto;
}

table {
  table-layout: fixed;
  width: 100%;
  color: #fff;
  text-align: center;
  margin: auto;
}

#mensaje, #confirmation {
  margin-top: 5%;
  font-weight: 500;
  text-align: center;
  font-size: 2rem;
}

.clasificacion {
  text-align: center;
}

.tituloTabla {
  line-height: 1em;
  font-weight: 500;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 5%;
}

td:nth-child(1) {
  width: 10%;
}

td:nth-child(2) {
  width: 40%;
}

td:nth-child(3) {
  width: 10%;
}

td:nth-child(4) {
  width: 10%;
}

td:nth-child(5) {
  width: 10%;
}

td:nth-child(6) {
  width: 10%;
}

td:nth-child(7) {
  width: 10%;
}

.cabeceraTabla {
  font-weight: 500;
  font-size: 2.5rem;
  padding-bottom: 2em;
}

.botonClear {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 20%;
}

.updated {
  color: #fff;
  text-align: center;
  margin: 10px;
  font-weight: lighter;
}

.footHome {
  position: absolute;
  bottom: 0;
}

.menuBtn::before, .tabsInfo::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.menuBtn:hover::before, .tabsInfo:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.menuBtn::before, .tabsInfo::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #FF57A8;
  z-index: -1;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

html {
  overflow-y: scroll;
  block-size: 100%;
  inline-size: 100%;
}

.tituloHome {
  padding: 1em;
  font-size: 4rem;
  text-align: right;
  color: #fff;
}

.home {
  padding-left: 0;
  margin-left: 0;
}

.liga {
  margin-bottom: 3%;
}

.clubName {
  text-align: left;
  padding-left: 0.5rem;
}

.fondoTabla {
  background-color: rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0px 1px 30px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 30px 3px rgba(0, 0, 0, 0.5);
}

.tituloBanner {
  padding: 10%;
  text-align: right;
  font-size: 3.5rem;
  overflow: hidden;
  color: #fff;
}

.activo {
  background-color: #ff57a82a;
  color: #fff;
}

.menuBtn, .tabsInfo {
  background-color: transparent;
  color: #fff;
}

.premier {
  background-image: url("/assets/premier-icon.png") 10px 10px no-repeat;
}

body.swal2-shown > [aria-hidden="true"] {
  -webkit-transition: 0.2s -webkit-filter;
  transition: 0.2s -webkit-filter;
  transition: 0.2s filter;
  transition: 0.2s filter, 0.2s -webkit-filter;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.indexImg {
  min-width: 100%;
  height: 500px;
  max-width: 100%;
}

.logosTabla img {
  width: 10%;
}

.logosTabla span {
  margin: 50px;
}

.modalLogo {
  width: 100%;
}

.iconForma {
  height: 2rem;
  max-height: 100%;
}

.tituloAtributo {
  font-size: 1rem;
  font-weight: 600;
}

.atributoModal {
  font-size: 2rem;
}

.modal-content {
  color: #fff;
}

.full-width {
  width: 100%;
}

#leyenda {
  color: #fff;
  margin: auto;
}

.europaLeague {
  background-color: #fa7917;
}

.championsLeague {
  background-color: #4285F4;
}

.conferenceLeague {
  background-color: #34A853;
}

.descenso {
  background-color: #EA4335;
}

.index {
  height: 75vh;
}

.menuInicio .menuBtn .btnRight, .menuInicio .tabsInfo .btnRight {
  padding: 0.5em !important;
}

.menuInicio {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about {
  -webkit-box-shadow: 0px 1px 30px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 30px 3px rgba(0, 0, 0, 0.5);
}

.tabsInfo {
  width: 25%;
}

.nav-link.active, .active.nav-link-teams {
  background-color: #FF57A8 !important;
}

.nav-link-teams.active {
  margin: 0 !important;
  background-color: #FF57A8 !important;
}

.nav-link, .nav-link-teams {
  padding: 6px 12px !important;
  border-radius: 0 !important;
}

.imagenes {
  margin-left: 1%;
  margin-right: 1%;
  height: 20vh;
  max-width: 100%;
  max-height: 100%;
}

.profile {
  height: 50vh;
}
/*# sourceMappingURL=estilos.css.map */