@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;400;500;600&display=swap');
/* font-family: 'IBM Plex Sans Thai Looped', sans-serif; */

* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url("../assets/fondo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#banner {
    background-image: url('../assets/banner.jpg');
    width: 100%;
    height: 20vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.body .titulo{
	font-size: 3rem;
    text-align: center;
}

.logo {
    filter: invert(99%) sepia(1%) saturate(1801%) hue-rotate(240deg) brightness(112%) contrast(100%);
    height: auto;
    width: auto;
    margin-top: 3px;
    max-height: 65px;
    max-width: 250px;
}

#navigation-container {
    min-width: 500px;
    width: 100%;
    margin: 0 auto;
    height: 70px;
}

.navigation-bar {
    padding-top: 0;
    position: fixed;
    background-color: #37003A;
    height: 70px;
    min-width: 600px;
    width: 100%;
    text-align:center;
    z-index: 2;
}
.navigation-bar img{
    float:left;
}
.navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
    height: 50px;
}

.navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
    width: 100%;
}

.navigation-bar li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
}

#menu {
    float: right;
}

/* CSS FORMULARIO */

.contain {
    min-width: 500px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    padding-top: 100px;
}
@media (min-width: 600px) {
}

h3,
ul {
margin: 0;
}

h3 {
margin-bottom: 1rem;
}

input:focus,
textarea:focus {
outline: 3px solid #FF57A8;
}

input,
select,
button {
width: 100%;
border: 1px solid #000;
}

.wrapper {
box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.wrapper > * {
padding: 1em;
}
@media (min-width: 700px) {
.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.wrapper > * {
    padding: 2em 2em;
}
}

ul {
list-style: none;
padding: 0;
}

.contacts {
background: #37003A;
color: #fff;
text-align: center;
}

.form {
background: #fff;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
form .partidos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.botones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
form label {
display: block;
}
form p {
margin: 0;
}

.full-width {
    grid-column: 1 / 3;
}

.mid-width {
    grid-column: 2 / 3;
}


button,
input,
select {
padding: 1em;
}

button {
background: lightgrey;
width: 100%;
margin: auto;
border: 0;
}
button:hover, button:focus {
background: #FF57A8;
color: #fff;
outline: 0;
}

.tituloNew{
    line-height: 1em;
    font-weight: 500;
    font-size: 5rem;
    text-align: right;
}

.logoSide{
    filter: invert(56%) sepia(57%) saturate(5110%) hue-rotate(308deg) brightness(113%) contrast(101%);
    margin: 10%;
    max-height: 200px;
    max-width: 250px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #37003A;
    width: 100vw;
    padding-top: 40px;
    color: #FF57A8;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 3rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-bottom{
    background: #37003A;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}

#mensaje, #confirmation{
    margin-top: 5%;
    font-weight: 500;
    text-align: center;
    font-size: 2rem;
}

#tabla{
    color: #fff;
    text-align: center;
    margin: auto;
    
}

.clasificacion{
    text-align: center;
}

td{
    min-width: 100px;
}

#tabla, #datosTabla{
    color: #fff;
}

.tituloTabla{
    line-height: 1em;
    font-weight: 500;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 5%;
}

.cabeceraTabla{
    font-weight: 500;
    font-size: 2rem;
}

.botonClear{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 20%;
}