#MiCarousel{
    background-color: #37003a7c;
    color: #fff;
    box-shadow: 0px 1px 30px 3px rgba(0,0,0,0.5);
    height: 75vh;

}
.carousel-img{
    background-color: #000;
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.perfil{
    border-radius: 50%;
}

.div-r{
    padding: 5%;
}
.div-l{
    position: relative;
    height: 35vh;

}
.div-l-contacto{
    position: relative;
    height: 50vh;

}

.carousel-title{
    text-align: end;
    font-size: 3rem;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}

@media screen and (min-width: 601px) {
    div.example {
      font-size: 80px;
    }
  }
.carousel-pagination{
    background-color: $white !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 100%;
    position: relative;
    bottom: -60px;
    opacity: 0.5;
}

.carousel-pagination.active{
    opacity: 1;   
}

.carousel-controls{
    display: none;
}

.carousel-inner{
    height: 100%;
}