@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;400;500;600&display=swap");

$font-primary: 'IBM Plex Sans Thai Looped', sans-serif;

// PALETA DE COLORES

$lista-colores:(
  primario: #37003A,
  secundario: #FF57A8
);

$color-primario: #37003A;
$color-secundario: #FF57A8;
$white: #fff;
$black: #000;